.custom-select-container {
    position: relative;
    width: 100%;
  }
  
  .custom-select-arrow {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px; 
  }
  
  .custom-select-container::after {
    content: "▼"; /* Ký hiệu mũi tên */
    font-size: 12px;
    color: #6c757d; /* Màu mũi tên */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
  }
  