.login-container {
  height: 100vh;
  background: linear-gradient(135deg, #044D82, #33a6d9); /* Màu chủ đạo là #044D82 */
}

.login-card {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  background-color: white;
}

.login-logo {
  width: 80px;
}

.form-control {
  height: 45px;
  border-radius: 10px;
  border: 1px solid #ced4da;
}

.btn-primary {
  background-color: #044D82; 
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #033c66; 
}

.forgot-password-link {
  color: #044D82; 
  font-size: 14px;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.form-label {
  font-weight: bold;
  color: #044D82; 
}
